nav{
    background-color: aqua;
}
.itens{
    background-color: blue;/*Cor da fundo*/
    color: aliceblue;/*Cor da fonte*/
}
*{
    list-style: none;/*Estilo da lista-Marcador*/
}
div {
    background-color: coral;
    width: 200px;
    height: 65px;
    border: 1px solid;
    overflow: ;
  }